<h1>
	welcome to barbershop!!!
</h1>
<p>
	we are open
</p>

<form action="/" method ="POST">
	Your name: <br>
	<input type="text" name ="user_name" /> <br>
	Your phone: <br>
	<input type="text" name ="phone"/> <br>
	Your date: <br>
	<input type="text" name ="date_time"/> <br>
	<input type="submit" />

</form>